In [1]:
import math
import numpy as np
import pandas as pd
from HNBP import HypercomplexNumberPreprocessing

In [2]:
# import data
df = pd.read_csv('diabetes.csv')

In [3]:
# remove target from dataframe
target = df['Outcome']
df = df.drop('Outcome', axis=1)

In [4]:
# visualize dataset
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [5]:
# execute angle HypercomplexNumberPreprocessing

hnbp_preprocess = HypercomplexNumberPreprocessing(mode='angle')

new_df = hnbp_preprocess.execute_preprocessing(df)

new_df.head()

          0         1         2         3         4         5    6    7
0  0.443092  1.031079  0.000002  0.451573  1.300105  0.380909  0.0  0.0
1  0.136855  1.074521  0.000003  0.610325  0.873437  0.191994  0.0  0.0
2  0.472990  1.570794  0.000003  0.944906  1.249330  0.147277  0.0  0.0
3  0.130776  1.165166  0.259347  1.570770  0.859815  0.000001  0.0  0.0
4  0.000001  0.747749  0.299840  1.361941  1.445305  0.138825  0.0  0.0

In [6]:
# execute radius HypercomplexNumberPreprocessing

hnbp_preprocess = HypercomplexNumberPreprocessing(mode='radius')

new_df = hnbp_preprocess.execute_preprocessing(df)

new_df.head()

          0         1         2         3         4         5    6    7
0  0.823216  0.687953  0.500745  0.537178  1.300104  0.380909  0.0  0.0
1  0.431166  0.615199  0.396423  0.203384  0.873436  0.191994  0.0  0.0
2  1.033012  0.524590  0.347242  0.312951  1.249329  0.147277  0.0  0.0
3  0.451087  0.588758  0.433267  0.038001  0.859814  0.000001  0.0  0.0
4  0.688442  0.482166  0.672321  0.964599  1.445304  0.138824  0.0  0.0

In [7]:
# execute angle and radius HypercomplexNumberPreprocessing

hnbp_preprocess = HypercomplexNumberPreprocessing(mode='angleradius')

new_df = hnbp_preprocess.execute_preprocessing(df)

new_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.823215,0.687953,0.500744,0.537178,0.443090,1.031080,0.000002,0.451571,1.300102,0.380909
1,0.431166,0.615198,0.396422,0.203383,0.136851,1.074523,0.000003,0.610322,0.873435,0.191993
2,1.033011,0.524589,0.347242,0.312950,0.472989,1.570794,0.000003,0.944907,1.249328,0.147276
3,0.451087,0.588758,0.433266,0.038000,0.130772,1.165168,0.259344,1.570770,0.859813,0.000001
4,0.688442,0.482165,0.672320,0.964599,0.000001,0.747749,0.299838,1.361943,1.445303,0.138824

In [8]:
# execute preprocessing mode not found (for testing)

hnbp_preprocess = HypercomplexNumberPreprocessing(mode='XXXX')

new_df = hnbp_preprocess.execute_preprocessing(df)

new_df.head()

ERROR: mode not found, choose 'angle', 'radius' or 'angleradius'

UnboundLocalError: local variable 'output_df' referenced before assignment